.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: var(--top-padding) var(--side-padding);
  position: sticky;
  a {
    padding: 4px 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  a:hover {
    color: var(--primary);
    transition: all 300ms ease;
  }

  .logo {
    flex: 0;
    display: flex;
    align-items: center;
    gap: var(--icon-text);
    color: var(--primary);
    font-size: 18px;
  }

  ul.nav-links {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    max-width: 800px;

    li {
      display: flex;
      align-items: center;
    }
    li:hover {
      color: var(--primary);
    }
  }

  ul.user-action {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

    li {
      font-size: 14px;
    }

    .menu-btn {
      color: var(--primary);
      font-size: 2em;
      cursor: pointer;
    }
  }
}

li.register-btn {
  padding: 4px 8px;
  border-radius: 10px;
  background: var(--primary);
  a {
    color: var(--background-color);
  }

  &.register-btn:hover {
    background-color: transparent;
    transition: all 300ms ease;
  }
}

.navbar input#nav-check,
.login-register-btn-labels {
  display: none;
}

@media screen and (width <= 1024px) {
  ul.nav-links {
    display: none !important;
  }

  .navbar input#nav-check:checked + ul {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    min-height: 80vh;
    transform: translateX(-50%);
    background: #333;

    li {
      white-space: nowrap;
    }
  }
}

@media screen and (width <= 770px) {
  ul.user-action {
    flex: 0 !important;

    .register-btn,
    .login-btn {
      display: none;
    }
  }

  .login-register-btn-labels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  /* THIS BUTTON STYLES WILL BE UPDATED LATER */
  li.login-btn {
    padding: 4px 8px;
    border-radius: 10px;
    background: var(--primary);
    a {
      color: var(--background-color);
    }
  }
  /* === == = == === */
}
